/* Css by Mark Brown */
  h1 {
 color: blue;
 font-size: 3vw;
}
body {
    background-color: lightgrey;
}
img {
    max-width: 100%;
    height: auto;
}
.movein{
    background-color: black;
    color: white;
    padding: 8px;
}
